---
import Code from "@/icons/Code.astro";
import ProjectsMenu from "./ProjectsMenu";
---

<div id="proyectos" class="projects-container">
  <h1>
    <Code />
    Proyectos
  </h1>

  <ProjectsMenu client:only="react" />
</div>

<style>
  h1 {
    @apply text-2xl md:text-3xl font-bold mb-10 flex flex-row gap-3 items-center;
  }

  .projects-container {
    @apply w-full pt-16 md:pt-36 mx-auto container lg:max-w-4xl md:max-w-2xl select-none relative;
  }
</style>
