---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Header from "@/components/Header/Header.astro";
import Projects from "@/components/Projects/Projects.astro";
import ToTop from "@/components/ToTop.astro";
import Skills from "@/components/Skils/Skills.astro";
import Experience from "@/components/Experience/Experience.astro";
import About from "@/components/About/About.astro";
import Contact from "@/components/Contact/Contact.astro";
import Footer from "@/components/Footer/Footer.astro";
---

<Layout title="Juan J. García">
  <div class="background-gradiant"></div>
  <Navbar />
  <ToTop />
  <main>
    <Header />
    <Skills />
    <Experience />
    <Projects />
    <About />
    <Contact />
    <Footer />
  </main>
</Layout>

<script></script>

<style>
  .background-gradiant {
    @apply absolute top-0 left-0 z-[-2] h-screen w-screen bg-[#040a11] bg-[radial-gradient(ellipse_80%_100%at_50%-20%,rgba(8,91,195,0.35),rgba(12,31,52,0))];
  }

  main {
  }
</style>
