---
import CaretTop from "@/icons/Caret-Top.astro";
---

<div class="to-top-container">
  <figure class="to-top" :class="{'show':show}">
    <div
      class="hidden w-full h-full absolute lg:block hint--top"
      aria-label="Ir arriba"
    >
    </div>
    <CaretTop class="w-full h-full" />
  </figure>
</div>

<script>
  window.addEventListener("scroll", () => {
    const navbar = document.querySelector(".to-top");
    if (!navbar) return;
    if (window.scrollY > 100) {
      navbar.classList.add("show");
    } else {
      navbar.classList.remove("show");
    }
  });

  const toTop = document.querySelector(".to-top");

  if (toTop) {
    toTop.addEventListener("click", () => {
      window.scrollTo(0, 0);
      history.replaceState(null, "", window.location.pathname);
    });
  }
</script>

<style>
  .to-top-container {
    @apply z-50 fixed bottom-8 right-8;
  }

  .to-top {
    @apply opacity-0 translate-y-[100px] cursor-pointer bg-slate-700/35 backdrop-blur-md rounded-full border border-slate-700 p-2 w-10 h-10 flex items-center justify-center duration-200;

    &:hover {
      @apply bg-slate-700/60;
    }
  }
  .show {
    @apply opacity-100 translate-y-0;
  }
</style>
