---
// Supports weights 100-900
import "@fontsource-variable/lexend";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio de Juan García desarrollador web Front End."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/hint.css@3.0.0/hint.min.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="body-layout overflow-y-auto">
    <slot />
  </body>

  <SpeedInsights />
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
  }
  :root {
    color-scheme: light dark;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(20, 49, 70, 0.5);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(20, 49, 70, 0.4);
  }
  html {
    font-family: "Lexend Variable", sans-serif;
    @apply bg-[#040a11] text-white;
    scroll-behavior: smooth;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  body {
    @apply flex flex-col px-4 overflow-x-hidden;
  }
</style>
