---
import Carousel from "@/components/Skils/Carousel.jsx";
import Gear from "@/icons/Gear.astro";
---

<div class="skills-container">
  <section class="mb-10 flex flex-row justify-between">
    <div class="text-3xl font-bold flex flex-row items-center gap-2">
      <Gear />
      <p>Habilidades Técnicas</p>
    </div>
  </section>
  <section id="skills-slider">
    <Carousel client:only="react" />
  </section>
</div>

<script>
  const button = document.querySelector("button");
  const section = document.querySelector("#skills-slider");
  const timeline = document.querySelector("#timeline-section");

  if (button) {
    button.addEventListener("click", () => {
      if (section) section.classList.toggle("hidden");

      if (timeline) timeline.classList.toggle("hidden");
    });
  }
</script>

<style>
  .skills-container {
    @apply w-full mx-auto container lg:max-w-4xl md:max-w-2xl select-none pb-28;
  }

  span {
    @apply text-sm flex flex-row items-center gap-2 cursor-pointer;
  }
</style>
