---
import Carousel from "@/components/Skils/Carousel.jsx";
import Gear from "@/icons/Gear.astro";
---

<div class="skills-container">
  <section class="mb-10 flex flex-row justify-between">
    <div
      class="text-2xl md:text-3xl font-bold flex flex-row items-center gap-2"
    >
      <Gear />
      <p>Habilidades Técnicas</p>
    </div>
  </section>
  <section id="skills-slider">
    <Carousel client:only="react" />
  </section>
</div>

<style>
  .skills-container {
    @apply w-full mx-auto container lg:max-w-4xl md:max-w-2xl select-none;
  }

  span {
    @apply text-sm flex flex-row items-center gap-2 cursor-pointer;
  }
</style>
